.header {
  color: red;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.formclass {
  color: blue;
}

.email {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 300px;
}
